$white: #fff;
$blue: #00a4ff;
$lightblue: #97daff;
$sky-blue: #e8f7ff;
$gray: #414141;
$lightgray: #b0b0b0;
$crimson: #ff6767;

// Ice
$Ice: #97d9ff;
$Ice-light: #eaf7ff;
$Ice-dark: #2cb3ff;

// Strawberry
$Strawberry: #feb2b2;
$Strawberry-light: #ffe9e9;
$Strawberry-dark: #ff3434;

// Peach
$Peach: #ffba94;
$Peach-light: #fff1ea;
$Peach-dark: #ff7c33;

// Apple
$Apple: #a8d684;
$Apple-light: #eef7e6;
$Apple-dark: #5f8542;

// Candy
$Candy: #ffbad3;
$Candy-light: #fff1f6;
$Candy-dark: #ff5492;

// Mustard
$Mustard: #e9b93d;
$Mustard-light: #fbf1d8;
$Mustard-dark: #b18000;

// Blueberry
$Blueberry: #ac8bd7;
$Blueberry-light: #eee8f7;
$Blueberry-dark: #8525ff;

//Colors
$main: $Strawberry;
$main-light: $Strawberry-light;
$main-dark: $Strawberry-dark;
