content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: calc(100% - 20px);
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 90px;
}

.container {
  background-color: $color-primary;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding-bottom: 240px;
}

.searchbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 80px;
  background-color: $white;
  width: calc(100% - 20px);
  background-color: $color-primary;
}

.search-icon {
  align-items: center;
  width: 40px;
  height: 40px;
  color: $white;
  margin-right: 50px;
  margin-top: 10px;
}

.search-icon > img {
  width: 30px;
  height: 30px;
  color: $white;
}

.searchbar > input {
  margin: 35px 10px 35px 35px;
  height: 50px;
  border-radius: 30px;
  border: none;
}

.searchbar > input::placeholder {
  color: #aaa;
  font-family: $Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 33%;
  overflow-x: hidden;
}

.product > label {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  font-family: $Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: $white;
}

.clicked > .bg-icon {
  border: 3px solid $color-primary-dark;
  background-color: $color-primary-light;
}

.clicked > label {
  color: $color-primary-dark;
}

.bg-icon {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 25px;
  margin: 5px;
}

.bg-icon > img {
  width: 45px;
  height: 45px;
}

.hide {
  display: none;
}
