.swiper {
  position: fixed;
  top: 0;
  background-color: $main-light;
  border-radius: 0 0 30px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.swiper > label {
  margin-top: 10px;
  color: $main;
  font-weight: 700;
  font-size: 18px;
}

.swiper-slide {
  display: flex;
  margin-top: 15px;
}

.day {
  display: flex;
  flex-direction: column;
  width: 12vw;
  max-width: 50px;
  height: 65px;
  background-color: white;
  border-radius: 15px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
}

.letter {
  display: flex;
  color: $lightgray;
  justify-content: center;
  border-radius: 15px 15px 0 0;
}

.number {
  display: flex;
  color: $main-dark;
  justify-content: center;
}

.activity {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: $lightgray;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
}

.today {
  background-color: $gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.today .letter {
  padding-top: 15px;
}

.today .number {
  padding-top: 5px;
}

.today .activity {
  padding-top: 5px;
}

.today::after {
  font-family: $Inter;
  font-size: 12px;
  font-weight: 700;
  content: "today";
  position: relative;
  top: 5px;
  margin: auto;
}

.today > .letter {
  color: $main-light;
}

.today > .number {
  color: $white;
}

.today > .activity > .dot {
  background-color: $white;
}

.pickedDay {
  background-color: $main;
  color: $main;
}

.pickedDay > .letter {
  color: $white;
}

.pickedDay > .number {
  color: $white;
}

.pickedDay > .activity > .dot {
  background-color: $white;
}

a {
  color: $white;
  text-decoration: none;
}
