html,
body {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  height: 100%;
  background-color: $color-primary;
  min-width: 320px;
  max-width: 425px;
}

main {
  font-family: $Inter;
  margin: auto;
  padding-bottom: 90px;
  padding-top: 125px;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  height: 90px;
  background-color: $color-primary-light;
  width: 100vw;
  max-width: 425px;
  border-radius: 30px 30px 0 0;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

nav > .navButtons {
  background-color: $color-primary-light;
}

.swiper {
  width: 100vw;
  max-width: 425px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
