.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 15px;
  margin-bottom: 50px;
  background-color: $white;
}

.icon {
  width: 40px;
  height: 40px;
}

.icon-center {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-center > img {
  width: 35px;
  height: 35px;
}

.icon-right {
  background-color: $lightblue;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.icon-right > img {
  width: 35px;
  height: 35px;
}

.icon-left {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-left > img {
  width: 35px;
  height: 35px;
}
