.settings-wrapper {
  background-color: $main;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-left: 40px;
  color: $main-dark;
}

.color-wrapper {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  background-color: $main;
  width: 210px;
  max-width: 425px;
  height: 300px;
  flex-wrap: wrap;
}

.color {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid $main-dark;
}

.clean-storage-wrapper {
  display: flex;
  flex-direction: column;
}

.clean-storage-wrapper p {
  margin-left: 50px;
  margin-right: 50px;
  color: $main-dark;
}

.clean-storage-wrapper button {
  margin: auto;
  border-radius: 10px;
  background-color: $main;
  color: $main-dark;
  font-family: $Inter;
  border: 2px solid $main-dark;
}
