html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

main {
  font-family: "Roboto", sans-serif;
  background-color: #97daff;
  margin: auto;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
}

nav {
  position: fixed;
  bottom: 0;
  height: 125px;
  background-color: #fff;
  width: calc(100% - 20px);
}

.swiper {
  background-color: #e8f7ff;
  border-radius: 40px;
  max-width: 425px;
  height: 135px;
}

.short {
  min-height: 135px;
}

.mid {
  min-height: 250px;
}

.large {
  min-height: 500px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
}

.week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 20px 10px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 45px;
  min-height: 85px;
  background-color: white;
  border-radius: 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b0b0b0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px 15px 0 0;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #97daff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #b0b0b0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
}

.active {
  background-color: #414141;
}

.active > .letter {
  color: #97daff;
}

.active > .number {
  color: #fff;
}

.active > .activity > .dot {
  background-color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

.banner {
  height: 6px;
  width: 180px;
  border-radius: 50px;
  margin: auto;
  margin-top: 8px;
  background-color: #414141;
  cursor: pointer;
}

.meals {
  background-color: #e8f7ff;
  margin-top: 20px;
  border-radius: 30px;
  font-weight: 700;
}

.labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  color: #97daff;
  font-size: 18px;
}

.meal-name {
  margin-top: 10px;
}

.meal-total {
  margin-top: 10px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  overflow-x: scroll;
  scrollbar-width: 0px;
}

.img-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 0px;
  margin-right: 20px;
}

.img-bg > img {
  width: 40px;
  height: 40px;
}

.meal > label {
  width: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
  color: #00a4ff;
  font-weight: 700;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 20px;
}

.add {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-top: 15px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #fff;
}

content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #97daff;
  width: calc(100% - 20px);
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 125px;
  margin-bottom: 125px;
}

.searchbar {
  position: fixed;
  top: 0;
  height: 125px;
  background-color: #fff;
  width: calc(100% - 20px);
  background-color: #97daff;
}

.searchbar > input {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 25px;
  margin-bottom: 35px;
  height: 70px;
}

.searchbar > input::-webkit-input-placeholder {
  color: gray;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.searchbar > input:-ms-input-placeholder {
  color: gray;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.searchbar > input::-ms-input-placeholder {
  color: gray;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.searchbar > input::placeholder {
  color: gray;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.container {
  margin-left: 25px;
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product > label {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #fff;
}

.clicked > .bg-icon {
  border: 5px solid #00a4ff;
  background-color: #97daff;
}

.clicked > label {
  color: #00a4ff;
}

.bg-icon {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 30px;
}

.bg-icon > img {
  width: 70px;
  height: 70px;
}
/*# sourceMappingURL=styles.css.map */