html,
body {
  padding: 0;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  background-color: #feb2b2;
  min-width: 320px;
  max-width: 425px;
}

main {
  font-family: "Inter", sans-serif;
  margin: auto;
  padding-bottom: 90px;
  padding-top: 125px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 0;
  height: 90px;
  background-color: #ffe9e9;
  width: 100vw;
  max-width: 425px;
  border-radius: 30px 30px 0 0;
  -webkit-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

nav > .navButtons {
  background-color: #ffe9e9;
}

.swiper {
  width: 100vw;
  max-width: 425px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper {
  position: fixed;
  top: 0;
  background-color: #ffe9e9;
  border-radius: 0 0 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper > label {
  margin-top: 10px;
  color: #feb2b2;
  font-weight: 700;
  font-size: 18px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 12vw;
  max-width: 50px;
  height: 65px;
  background-color: white;
  border-radius: 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
}

.letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b0b0b0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px 15px 0 0;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ff3434;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #b0b0b0;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
}

.today {
  background-color: #414141;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.today .letter {
  padding-top: 15px;
}

.today .number {
  padding-top: 5px;
}

.today .activity {
  padding-top: 5px;
}

.today::after {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 700;
  content: "today";
  position: relative;
  top: 5px;
  margin: auto;
}

.today > .letter {
  color: #ffe9e9;
}

.today > .number {
  color: #fff;
}

.today > .activity > .dot {
  background-color: #fff;
}

.pickedDay {
  background-color: #feb2b2;
  color: #feb2b2;
}

.pickedDay > .letter {
  color: #fff;
}

.pickedDay > .number {
  color: #fff;
}

.pickedDay > .activity > .dot {
  background-color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

section {
  background-color: #ffe9e9;
  margin-top: 20px;
  border-radius: 30px;
  font-weight: 700;
  min-height: 135px;
}

.chosen ul {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chosen ul > img {
  width: calc(100% - 30px);
}

.chosen .units p {
  margin: 5px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin-left: 40px;
  margin-right: 20px;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 10px;
  overflow-x: scroll;
}

ul::-webkit-scrollbar {
  height: 0px;
}

.chosen .meal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-radius: 20px;
  width: calc(100%);
}

.chosen .product-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100%);
}

.chosen .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 50px;
  width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #feb2b2;
  font-weight: 600;
}

.chosen .product-weight {
  margin-left: 5px;
}

.chosen .product-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chosen .product-name::after {
  margin-left: 5px;
  content: "";
  display: block;
  height: 20px;
  width: 2px;
  background-color: #feb2b2;
}

.chosen .titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  color: #feb2b2;
  margin-left: 100px;
  margin-right: 30px;
}

.chosen .titles > p {
  width: 50px;
  margin: 0;
  color: #ff3434;
}

.chosen .meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5px;
}

.meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
}

.chosen .meal {
  margin-left: 10px;
  width: 55px;
}

.chosen .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

.chosen .units {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 15px);
  margin-bottom: 5px;
  margin-left: 10px;
}

.units p {
  color: #ff3434;
  margin-top: 20px;
  width: 50px;
  margin-left: 10px;
}

.chosen .img-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 40%;
  background-color: #fff;
}

.img-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 40%;
  background-color: #fff;
  margin-bottom: 10px;
}

.chosen img {
  width: 40px;
  height: 40px;
}

.img-bg > img {
  width: 40px;
  height: 40px;
}

.labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  color: #feb2b2;
  font-size: 18px;
}

.chosen u {
  text-decoration-thickness: 2px;
}

.meal-name {
  color: #feb2b2;
  margin-top: 10px;
  cursor: pointer;
}

.meal-total {
  margin-top: 10px;
}

.chosen ul {
  list-style-type: none;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  overflow-x: hidden;
  margin-top: 0px;
}

.chosen li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  height: auto;
  margin-bottom: 10px;
  height: 105px;
}

.chosen br {
  content: "";
  margin: 15px;
  height: 2px;
  background-color: #feb2b2;
}

br:nth-of-type(1) {
  margin-top: 0px;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 110px;
}

li > label {
  width: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
  color: #ff3434;
  font-weight: 700;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 20px;
}

.add {
  width: 35px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.navButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.chooseButtons {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 240px;
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px 30px 0 0;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25);
  display: none;
  -webkit-transition: margin-right 4s;
  transition: margin-right 4s;
}

.applyButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 80px;
  width: 90px;
  border-radius: 30px 30px 0 0;
  cursor: pointer;
}

.applyButton > img {
  width: 30px;
  height: 30px;
}

.removeButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 5px;
  background-color: #fff;
  height: 60px;
  width: 90px;
  cursor: pointer;
}

.removeButton > img {
  width: 40px;
  height: 40px;
}

.removeButton p {
  color: lightcoral;
  font-weight: 900;
  font-size: 20px;
}

.icon {
  width: 40px;
  height: 40px;
}

.icon-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.icon-center > img {
  width: 25px;
  height: 25px;
}

.icon-right {
  background-color: #feb2b2;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.icon-right > img {
  width: 35px;
  height: 35px;
}

.icon-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.icon-left > img {
  width: 25px;
  height: 25px;
}

content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% - 20px);
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 90px;
}

.container {
  background-color: #feb2b2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
  padding-bottom: 240px;
}

.searchbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  height: 80px;
  background-color: #fff;
  width: calc(100% - 20px);
  background-color: #feb2b2;
}

.search-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
  margin-right: 50px;
  margin-top: 10px;
}

.search-icon > img {
  width: 30px;
  height: 30px;
  color: #fff;
}

.searchbar > input {
  margin: 35px 10px 35px 35px;
  height: 50px;
  border-radius: 30px;
  border: none;
}

.searchbar > input::-webkit-input-placeholder {
  color: #aaa;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.searchbar > input:-ms-input-placeholder {
  color: #aaa;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.searchbar > input::-ms-input-placeholder {
  color: #aaa;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.searchbar > input::placeholder {
  color: #aaa;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  overflow-x: hidden;
}

.product > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #fff;
}

.clicked > .bg-icon {
  border: 3px solid #ff3434;
  background-color: #ffe9e9;
}

.clicked > label {
  color: #ff3434;
}

.bg-icon {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 25px;
  margin: 5px;
}

.bg-icon > img {
  width: 45px;
  height: 45px;
}

.hide {
  display: none;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.Share {
  margin-left: 15px;
}

.total {
  margin-right: 15px;
}

.text {
  width: 70px;
}

.meal-props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  color: #feb2b2;
}

.meal-props > label {
  margin-top: 10px;
  font-size: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 10px;
}

.meal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100vw;
}

.meal-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  margin-left: 15px;
  margin-bottom: 10px;
}

.meal-bg-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  width: 80px;
  height: 80px;
  border-radius: 30px;
}

.meal-bg-img > img {
  width: 60px;
  height: 60px;
}

.meal-name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #feb2b2;
}

.meal-weight {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.meal-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  width: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 30px;
}

.selector {
  padding-top: 15px;
  padding-bottom: 100px;
}

.products-wrapper > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.products-wrapper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 3px solid #ff3434;
  border-radius: 20px;
}

.img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  margin-left: 20px;
}

.img-wrapper .img-bg {
  margin: auto;
}

.img-wrapper > label {
  margin-top: 5px;
  font-size: 18px;
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button-wrapper > button {
  margin: 10px;
}

.button-wrapper > img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 10px;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: 5px;
}

.text > label {
  margin-left: 10px;
  font-size: 18px;
}

.text > input {
  width: 50px;
  height: 25px;
  border: 2px solid #ff3434;
  border-radius: 10px;
  color: #ff3434;
  font-weight: 700;
}

.text > input::-webkit-input-placeholder {
  font-weight: 700;
  opacity: 0.4;
  color: gray;
}

.text > input:-ms-input-placeholder {
  font-weight: 700;
  opacity: 0.4;
  color: gray;
}

.text > input::-ms-input-placeholder {
  font-weight: 700;
  opacity: 0.4;
  color: gray;
}

.text > input::placeholder {
  font-weight: 700;
  opacity: 0.4;
  color: gray;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ff3434;
  font-weight: 700;
}

.confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 80px;
  width: 90px;
  border-radius: 30px 30px 0 0;
  cursor: pointer;
}

.confirm > img {
  width: 30px;
  height: 30px;
}

.addButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin: auto;
}

.addButton img {
  margin-top: 5px;
  width: 40px;
  height: 40px;
}

.settings-wrapper {
  background-color: #feb2b2;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  margin-left: 40px;
  color: #ff3434;
}

.color-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background-color: #feb2b2;
  width: 210px;
  max-width: 425px;
  height: 300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.color {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 30px;
  margin: 10px;
  border: 2px solid #ff3434;
}

.clean-storage-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clean-storage-wrapper p {
  margin-left: 50px;
  margin-right: 50px;
  color: #ff3434;
}

.clean-storage-wrapper button {
  margin: auto;
  border-radius: 10px;
  background-color: #feb2b2;
  color: #ff3434;
  font-family: "Inter", sans-serif;
  border: 2px solid #ff3434;
}
/*# sourceMappingURL=styles.css.map */